%textoprogramas{
    padding: 0%;
    margin: 0%;
    display: flex;
    justify-content: center;
}

%textosection{
    display: flex;
    align-items: center;
    padding-left: 6%;
    padding-right: 6%;
}