header {
    z-index: 2;
    .nav-color {
        background-color: black;
    }

    .container-fluid{
        padding: 0% !important;
    }

    .nav-link:hover,
    .navbar-brand:hover {
        font-weight: bold;
    }

    a {
        color: white !important;
    }
    .dropdown-menu {
        background-color: black;
    }
}